---
import Layout from '../layouts/Layout.astro';
import Title from '../components/Title.astro';
import Segment from '../components/Segment.astro';
import CardGuias from '../components/CardGuias.astro';
import { GUIDES } from '../../data/data';
---
<Layout title='Guias' description='Guias de videojuegos'>
    <Title title='Guias' className='text-center'/>
    <div class="mx-auto text-center">
      <Segment />
    </div>
    <div id="display"></div>
    <section class="flex flex-wrap gap-5">
    {
      GUIDES.map((guide, index) => (
        <CardGuias
          gameName={guide.gameName}
          gameImage={guide.gameImage ? guide.gameImage : ''}
          gamePlatform={guide.gamePlatform}
          achievements={guide.achievements}
        />
      ))
    }
    </section>
</Layout>