---
import Layout from '../layouts/Layout.astro';
import SectionLastThreeGames from '../components/SectionLastThreeGames.astro';
import SectionLastSixNews from '../components/SectionLastSixNews.astro';
import SectionTop5 from '../components/SectionTop5.astro';
import SectionUltimasGuias from '../components/SectionUltimasGuias.astro';
---

<Layout title="GamerBlog" description="Blog sobre videojuegos">
	<main class="lg:flex lg:space-x-8 space-y-8">

		<div>
			<SectionLastThreeGames />
			<SectionLastSixNews />
		</div>

		<div class="lg:block md:flex md:justify-around">
			<SectionTop5 />
			<SectionUltimasGuias />
		</div>

	</main>
</Layout>
