---
interface Props {
  gameImage?: string;
  gameName: string;
  gameRating?: number;
}

const {gameImage, gameName, gameRating} = Astro.props;
---

<article class="bg-white shadow-card w-[280px] max-h-16 rounded-xl flex items-center p-3 space-x-3">
  <div class="w-14 h-12">
    <img src={gameImage} alt={gameName} class="rounded-md w-full object-cover h-full">
  </div>
  <div class="flex items-center justify-between w-full space-x-3">
    <h3 class="line-clamp-2">{gameName}</h3>
    <p class="text-xl font-bold">{(gameRating !== undefined && gameRating < 10) ? gameRating.toFixed(1) : gameRating}</p>
  </div>
</article>