---
import FacebookIcon from "../../assets/icons/facebook-icon.astro";
import InstagramIcon from "../../assets/icons/instagram-icon.astro";
import SearchIcon from "../../assets/icons/search-icon.astro";
import YoutubeIcon from "../../assets/icons/youtube-icon.astro";
import MenuBars from "../../assets/icons/menu-bars.astro";
import ThemeToggle from "./ThemeToggle.astro";
---


<header class="flex justify-between px-5 lg:px-10 py-8 items-center">
  <div class="flex items-center w-full space-x-20">
    <h1 class="text-2xl font-bold">GamerBlog</h1>
    <form class="invisible lg:visible w-[330px]">   
      <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Buscar</label>
      <div class="relative">
          <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
            <SearchIcon /> 
          </div>
          <input type="search" id="default-search" class="block w-full py-2 px-4 ps-10 bg-slate-100 dark:bg-slate-800 rounded-xl border-none placeholder:text-slate-400" placeholder="Buscar noticias, reseñas, logros..." required>
      </div>
    </form>
  </div>
  <div class="lg:invisible">
    <MenuBars />
  </div>

  
  <nav class="invisible lg:visible">
    <ul class="flex space-x-7 items-center">
      <li><a href="/guias">Guias</a></li>
      <li><a href="/noticias">Noticias</a></li>
      <li><a href="/reseñas">Reseñas</a></li>
      <!-- Social Logos -->
      <ul class="flex space-x-3 items-center">
        <li>
          <a href="">
            <FacebookIcon />
          </a>
        </li>
        <li>
          <a href="">
            <InstagramIcon />
          </a>
        </li>
        <li>
          <a href="">
            <YoutubeIcon /> 
          </a>
        </li>
      </ul>
      <li>
        <ThemeToggle />
      </li>
    </ul>
  </nav>
</header>