---
interface Props {
	platforms: string[];
}
const { platforms } = Astro.props;
---

<ul class="flex items-center">
	{
		platforms.map((platform) => (
			<li class="mr-2">
				{platform === 'Xbox' ? (
					<svg
						width="10"
						height="10"
						viewBox="0 0 10 10"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_82_2652)">
							<path
								d="M5.00002 1.69534C4.41002 1.34377 3.7169 1.09471 2.97721 0.992524L2.94846 0.989399C2.92659 0.987837 2.90096 0.986899 2.87534 0.986899C2.68377 0.986899 2.50409 1.0369 2.34815 1.12471L2.35346 1.1219C3.09002 0.611274 4.00252 0.306274 4.98659 0.306274C4.98909 0.306274 4.99159 0.306274 4.99409 0.306274H5.00002C5.00159 0.306274 5.00346 0.306274 5.00565 0.306274C5.99221 0.306274 6.90752 0.611274 7.66221 1.1319L7.64659 1.12159C7.49721 1.03659 7.31815 0.986274 7.12721 0.986274C7.10065 0.986274 7.0744 0.987212 7.04846 0.989087L7.0519 0.988774C6.28346 1.09377 5.59034 1.3419 4.9744 1.70659L5.00002 1.69252V1.69534ZM1.73565 1.64627C1.72284 1.65065 1.71159 1.65627 1.70127 1.66315L1.7019 1.66284C0.840024 2.51377 0.306274 3.69534 0.306274 5.00159C0.306274 6.12159 0.698774 7.15002 1.35409 7.9569L1.34721 7.94815C0.799087 6.92909 2.74721 4.05596 3.72534 2.89846C2.62221 1.79815 2.07627 1.62909 1.84565 1.62909C1.84252 1.62909 1.83909 1.62877 1.83565 1.62877C1.79971 1.62877 1.76534 1.63534 1.73377 1.64752L1.73565 1.6469V1.64627ZM6.27596 2.89846C7.25377 4.05659 9.20315 6.93221 8.65252 7.94877C9.30096 7.15065 9.69377 6.12221 9.69377 5.0019C9.69377 3.69534 9.15971 2.51377 8.29784 1.66315L8.29721 1.66252C8.28815 1.65596 8.27752 1.65034 8.26596 1.64627L8.26502 1.64596C8.23377 1.63471 8.19752 1.62846 8.16002 1.62846C8.15846 1.62846 8.15659 1.62846 8.15502 1.62846C7.92346 1.62846 7.37877 1.79846 6.27596 2.89846ZM1.91065 8.53315C2.73159 9.25377 3.81471 9.69377 5.00065 9.69377C6.18659 9.69377 7.26971 9.25409 8.09596 8.52877L8.09065 8.53346C8.82471 7.78565 6.40252 5.1269 5.00002 4.06784C3.59909 5.12721 1.17502 7.78534 1.91065 8.53315Z"
								fill="#F8FAFC"
							/>
						</g>
						<defs>
							<clipPath id="clip0_82_2652">
								<rect width="10" height="10" fill="white" />
							</clipPath>
						</defs>
					</svg>
				) : platform === 'Playstation' ? (
					<svg
						width="13"
						height="14"
						viewBox="0 0 13 14"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							d="M1.32517 10.3508C0.360737 10.0741 0.201081 9.50414 0.638612 9.17305C0.953862 8.96586 1.31624 8.78549 1.69974 8.6498L1.73508 8.63883L4.58574 7.61671V8.79077L2.5423 9.53786C2.18439 9.67558 2.12346 9.8588 2.42083 9.95711C2.56911 9.99489 2.73892 10.0168 2.91402 10.0168C3.16386 10.0168 3.40314 9.97255 3.62455 9.89171L3.61033 9.89618L4.59427 9.53786V10.5909C4.53333 10.6059 4.46427 10.6132 4.39642 10.6278C4.08158 10.6831 3.71921 10.7148 3.34952 10.7148C2.62721 10.7148 1.93333 10.5937 1.28658 10.3711L1.33127 10.3845L1.32517 10.3508ZM7.33239 10.471L10.5288 9.31605C10.8916 9.18524 10.948 8.99877 10.6535 8.90086C10.506 8.86471 10.337 8.84399 10.1627 8.84399C9.91005 8.84399 9.66711 8.88786 9.44205 8.96789L9.45708 8.96342L7.32224 9.72474V8.51289L7.44411 8.46983C7.87067 8.32805 8.37199 8.21796 8.88914 8.16068L8.92286 8.15743C9.11299 8.13711 9.33318 8.12574 9.55621 8.12574C10.3187 8.12574 11.05 8.26021 11.7268 8.50721L11.6829 8.49299C12.621 8.79808 12.7185 9.24008 12.4828 9.54477C12.2557 9.77105 11.9811 9.95021 11.6752 10.0656L11.6594 10.0709L7.32183 11.6483V10.4828L7.33239 10.471ZM4.96883 2.22577V11.1336L6.95621 11.7739V4.30293C6.95621 3.95274 7.11058 3.71874 7.35921 3.79999C7.68217 3.89139 7.74514 4.21314 7.74514 4.56414V7.54683C8.98421 8.15255 9.95961 7.54561 9.95961 5.94661C9.95961 4.30333 9.38802 3.5733 7.70655 2.9883C6.98139 2.72505 6.0653 2.46261 5.12808 2.25502L4.97005 2.22577H4.96883Z"
							fill="#F8FAFC"
						/>
					</svg>
				) : platform === 'PC' ? (
					<svg
						width="10"
						height="10"
						viewBox="0 0 10 10"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<g clip-path="url(#clip0_82_2656)">
							<path
								d="M0 1.40932L4.05534 0.857045L4.05716 4.76875L0.00375 4.79182L0 1.40932ZM4.05341 5.21943L4.05659 9.13455L0.00318182 8.57727L0.00295455 5.19318L4.05341 5.21943ZM4.545 0.784773L9.92205 0V4.71898L4.545 4.7617V0.784773ZM9.9233 5.25625L9.92205 9.95398L4.545 9.19511L4.5375 5.2475L9.9233 5.25625Z"
								fill="#F8FAFC"
							/>
						</g>
						<defs>
							<clipPath id="clip0_82_2656">
								<rect width="10" height="10" fill="white" />
							</clipPath>
						</defs>
					</svg>
				) : null}
			</li>
		))
	}
</ul>
