---
import Platforms from './Platforms.astro';
import Tag from './Tag.astro';

interface Props {
	body: string;
	createAt: string;
	img: string;
	name: string;
	platforms: string[];
	qualification: number;
}

const { body, createAt, img, name, platforms, qualification } = Astro.props;
---

<article class="bg-white rounded-xl w-[280px] max-h-[334px] shadow-card">
	<!-- bg-image, tag, name, platforms and qualification-->
	<div class="imgBg rounded-t-xl flex flex-col justify-end" style={`background-image: url(${ img })`}>
		<div class="px-3 py-1 flex justify-between items-center backdrop-blur-sm bg-black/10">
			<div class="space-y-0.5">
				<Tag type="Reseña" />
				<h2 class="text-slate-100 font-bold">{ name }</h2>
				<Platforms platforms={platforms} />
			</div>
			<div>
				<p class="text-slate-100 text-3xl font-bold">{qualification}</p>
			</div>
		</div>
	</div>
	<!-- body, createdAt -->
	<div class="p-3 space-y-3 text-sm">
		<p class="line-clamp-5">{body}</p>
		<p class="text-slate-500">{createAt}</p>
	</div>
</article>

<style>
	.imgBg {
		background-size: cover;
		background-position: center;
		height: 155px;
	}

</style>