---
import Platforms from './Platforms.astro';
import Tag from './Tag.astro';

interface Props {
	gameReview: string;
	createdAt: string;
	gameImage?: string;
	gameName: string;
	gamePlatform: string[];
	gameRating: number;
}

const { gameReview, createdAt, gameImage, gameName, gamePlatform, gameRating } = Astro.props;
const date = new Date(String(createdAt)).toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'short',
  day: 'numeric'
});
---

<article class="bg-white dark:bg-slate-800 rounded-xl min-w-[280px] max-w-[280px] max-h-[334px] shadow-card">
	<!-- bg-image, tag, gameName, gamePlatform and gameRating-->
	<div class="imgBg rounded-t-xl flex flex-col justify-end" style={`background-image: url(${ gameImage })`}>
		<div class="px-3 py-1 flex justify-between items-center backdrop-blur-sm bg-black/10">
			<div class="space-y-0.5">
				<Tag type="Reseña" />
				<h2 class="text-slate-100 font-bold line-clamp-1">{ gameName }</h2>
				<Platforms platforms={gamePlatform} />
			</div>
			<div>
				<p class="text-slate-100 text-3xl font-bold">{gameRating.toFixed(1)}</p>
			</div>
		</div>
	</div>
	<!-- gameReview, createdAt -->
	<div class="p-3 space-y-3 text-sm">
		<p class="line-clamp-5 h-20">{gameReview}</p>
		<p class="text-slate-500">{date}</p>
	</div>
</article>

<style>
	.imgBg {
		background-size: cover;
		background-position: center;
		height: 155px;
	}

</style>